/* основний фон- #FFFFFF
кнопки та Web (Iris) - #4D5AE5
контакати, заголовки та Studio  (Navyblue)- #2E2F42
колір основного тексту - #434455 
кнопки при наведенні (Ocean) -#404BBF
background: #E5E5E5
футер-(Cloud) #F4F4FD */


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
} 

:root {
  --White-background: #ffffff;
  --SLATE-Body-text: #434455;
  --Navy-blue-Dark: #2e2f42;
  --Iris-Primary-Brand: #4d5ae5;
  --cloud-Light:  #f4f4fd;
  --CORNFLOWER: #e7e9fc;
  --ocean: #404bbf;
  --LIGHT-SLATE:  #8E8F99
  --GREEN: #31D0AA
}

/**
  |============================
  | CONTAINER
  |============================
*/

.container {
width: 1158px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
}

/**
  |============================
  | Body
  |============================
*/
body {
  background-color: var(--White-background);
  font-family: 'Roboto', sans-serif;
  color: var(--SLATE-Body-text);
  letter-spacing: 0.02em;

}

/**
  |============================
  | nav-address
  |============================
*/
.nav-address {
  display: flex;
  align-items: center;
}

/**
  |============================
  | LOGO
  |============================
*/



.logo {  
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--Iris-Primary-Brand);
  list-style: none;

}
.studio {
  color: var(--SLATE-Body-text);
  list-style: none;
  text-decoration: none;
}

/**
  |============================
  |       Nav
  |============================
*/
.nav {
  display: flex;
}

.nav-list {
   display: flex;
   margin-left: 76px;

 
} 

.nav-list .item {
    margin-right: 40px;
    
}
.nav-list .item:last-child {
  margin-right: 0;
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--SLATE-Body-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  }

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}
/**
  |============================
  | Address
  |============================
*/
.address {
  display:flex; 
  margin-left: auto;

  font-style: normal;
 
}

.address-list {
   display: flex;
}

.address-list .item+ .item {
  margin-left: 12px;
}

.address-link {
  color: var(--SLATE-Body-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style: none;
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--ocean);
  font-family: 'Roboto', sans-serif;
}

/**
  |============================
  |  ---- HERO----
  |============================
*/
.hero {
  background-color: var(--SLATE-Body-text);
  padding-bottom: 120px;
  text-align: center;
}

.hero-title {
  text-align: center;
  font-style: normal;
  width: 498px;
  color: var(--White-background);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.hero-btn {
   display: inline-block;
   
  font-family: 'Roboto', sans-serif;
  color: var(--White-background);
  background-color: var(--Iris-Primary-Brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;

  
   
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
  color: var(--cloud-Light);
}




/**
  |============================
  | --Feature--
  |============================
*/
.feature {
  padding-bottom: 120px;
}
.feature-list {
  display: flex;
}
.feature-list .item {
  width: calc((100% - 72px)/4);
  margin-right: 24px;
  width: 264px;
}

.feature-list .item:nth-child(4) {
  margin-right: 0;
}

.feature-title {
  color: var(--SLATE-Body-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.feature-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Work
  |============================
*/
.work { 
  padding-bottom: 120px;
  
}

.work-list {
display: flex;
}

.work-list .item {
  width: calc((100% - 48px)/3);
  margin-right: 24px;
  width: 360px;
}

.work-list .item:nth-child(3) {
  margin-right: 0;
}

.work-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--SLATE-Body-text);
  margin-bottom: 72px;
}
/**
  |============================
  | TEAM
  |============================
*/

.team {
  background-color: var(--cloud-Light);
  margin-bottom: 120px;
}

.team-list {
  display: flex;
}

.team-title {
  color: var(--SLATE-Body-text);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list .item {
width: calc((100% - 72px)/4);
margin-right: 24px;
width: 264px;
background-color: var(--White-background);
}

.team-list .item:nth-child(4) {
  margin-right: 0;
}

.team-subject {
  color: var(--SLATE-Body-text);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-text{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE-Body-text);
}

/**
  |============================
  | Portfolio
  |============================
*/


.port {
  display: flex;
  flex-wrap: wrap;
}

.port-list-btn {
  display: flex;
}

.port-list {
  display: flex;
  flex-wrap: wrap;
}

.port-list .item {
  width: calc((100% - 48px)/3);
  margin-right: 24px;

  text-decoration: none;
}

.port-list .item:nth-child(3n) {
  margin-right: 0;
}

.port-btn {
  font-family: 'Roboto',sans-serif;
  color: var(--Iris-Primary-Brand);
  background-color: var(--cloud-Light);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.port-btn:hover,
.port-btn:focus {
  color: var(--White-background);
  background-color: var(--ocean);
}



/**
  |============================
  | --FOOTER--
  |============================
*/

.footer {
  background-color: var(--Navy-blue-Dark);
}

.studio.log {
  display: inline-block;
  color: var(--cloud-Light);
  margin-bottom: 16px;
}

.footer .text {
  font-size: 16px;
  line-height:1.5;
  letter-spacing: 0.02em;
  color: var(--cloud-Light);
  width: 264px;
}